body {
  padding: 35px;
  background-color: #fff9e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  color: rgb(80, 80, 80);
}

h1 .small {
  font-size: medium;
  color: rgb(139, 139, 139);
  padding-left: 25px;
  padding-top: 8px;
}

.pink {
  color: rgb(255, 99, 132);
}

.blue {
  
  color: rgb(75, 192, 192);
}

.flex {
  display: flex;
  align-items: center;
}

#reset {
  padding: 8px 15px;
  border: 2px solid rgb(75, 192, 192);
  border-radius: 7px;
  transition: .3s;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  font-weight: bold;
  margin-left: 15px;
}

#reset:hover {
  border: 2px solid rgb(255, 99, 132);
}

.table-container {
  display: flex;
}

.table {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 3px;
}

.table .row .label {
  border-bottom: 1px solid rgb(139, 139, 139);
  padding: 4px 7px;
}

.table .row.tcp .label {
  color: rgb(75, 192, 192);
}

.table .row.udp .label {
  color: rgb(255, 99, 132);
}

.table .row .val {
  padding: 3px 7px;
  text-align: center;
}